.Message{
    margin: auto;
    margin-top: 50px;
    border: 2px solid white;
    width: 530px;
    height: 100%;
    padding: 13px;
    background-color: white;
    box-shadow: 0.35px 0.35px 5px 5px rgb(181, 225, 218);
}

.dot{
    height: 80px;
    width: 80px;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 50%;
    display: inline-block;
}
.dot-blue{
    background: blue;
}
.dot-red{
    background: red;
}
.dot-yellow{
    background: yellow;
}
.dot-purple{
    background: purple;
}
.dot-plum{
    background: plum;
}
.dot-orange{
    background: orange;
}